body{
 border: 2px solid white;
 margin: 0px;
 padding: 0px;
 background-color: black;
 color: black;
 height: 608px;
}
.principal{
 width: 100%;
 margin: 0 auto;
 display: grid;
 grid-template-rows: repeat(5, 50px);
 grid-template-columns: 1% 89%;
 grid-template-areas: "header header header"
                      "aside section"
                      "footer footer";
 row-gap: 1px;
 column-gap: 1px;
}
.header{
   grid-area: header;
   margin: 1%;
   width: 1295px;
   height: 50px;
   border: 2px solid white;
   background-color: #151515;
}
.consultarAluno{
   margin: -20px 500px;
   color: #00FFFF;
}
.aside{
   grid-area: aside;
   margin: -260px -1245px;
   width: 85px;
   height: 455px;
   background-color: #0B0B3B;
   border: 2px solid white;
}
.button{
  margin: 30px 5px;
  text-align: center;
}
.section{
   grid-area: section;
   margin: -260px -1150px;
   width: 1200px;
   height: 455px;
   background-color: black;
   color: white;
   border: 2px solid white;
}
.footer{
   grid-area: footer;
   display: flex;
   justify-content: space-evenly;
   margin: 16% 1%;
   width: 1295px;
   height: 50px;
   background-color: #240B3B;
   border: 2px solid white;
}
.divfortabela{
 margin: 10px -5px;
}
}
.tabela{
 margin: 10px 10px;
 text-align: center;
 background-color: black;
 color: white;
}
.tabela, th, tr{
 border: 2px solid white;
 border-collapse: collapse;
 padding: 5px 10px;
 font-size: 12px;
 text-align: center;
 color:white;
}
.buttonvoltar{
 margin: 15px 470px;
}