body{
 background-color: black;
 overflow-x: hidden;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-auto-flow: row;
 grid-template-areas: "header header header header"
                      "aside aside aside aside" 
                      "section section section section"
                      "footer footer footer footer";  
 column-gap: 1px;
 row-gap: 1px;                        
}
header{
   grid-area: header;
   margin: -5px 2px;
   position: fixed;
   width: 1330px;
   height: 100px;
   background-color: #151515;
   border: 1px solid white;
   border-radius: 10px;
}
.consultarAluno{
   margin: 3px 400px;
   text-align: center;
   color: #00FFFF;
}
aside{
   grid-area: aside;
   margin: 105px 2px;
   position: fixed;
   text-align:center;
   width: 130px;
   height: 340px;
   background-color: #0B0B3B;
   border-radius: 10px;
   border: 1px solid white;
}
.div-button{
  margin: 40px 5px;
  text-align: center;
}
.div-button button{
   border-radius: 10px;
}
.div-button button:hover{
   background-color: #00FFFF;
   cursor: pointer;
}
section{
   grid-area: section;
   margin: 108px 140px;
   width: 1190px;
   height: 325px;
   background-color: black;
   border-radius: 10px;
   color: white;
}
.divtabela{
 margin: 2px 1px;
}
.tabela{
 margin: -1px -1px;
 text-align: center;
 background-color: #240B3B;
 color: white;
}
.tabela button{
   border-radius: 10px;
}
.tabela button:hover{
   background-color: aqua;
   cursor: pointer;
}
.tabela, th, tr{
 border: 1px solid white;
 border-radius: 10px;
 border-collapse: collapse;
 padding: 5px 10px;
 font-size: 12px;
 text-align: center;
 color: white;
}
footer{
   grid-area: footer;
   position: fixed;
   margin: 455px 1px;
   width: 1330px;
   height: 75px;
   background-color: #151515;
   border: 1px solid white;
   border-radius: 10px;
}
.div-cadastrar{
   margin: 30px 300px;
   width: 75px;
   height: 20px;
}
.div-cadastrar button{
   border-radius: 10px;
}
.div-cadastrar button:hover{
   background-color: aqua;
   cursor: pointer;
}
.div-consultar{
   margin: -50px 500px;
   width: 74px;
   height: 20px;
}
.div-consultar button{
   border-radius: 10px;
}
.div-consultar button:hover{
   background-color: aqua;
   cursor: pointer;
}
.div-atualizar{
   margin: 30px 750px;
   width: 69px;
   height: 20px;
}
.div-atualizar button{
   border-radius: 10px;
}
.div-atualizar button:hover{
   background-color: aqua;
   cursor: pointer;
}
.div-deletar{
   margin: -50px 950px;
   width: 60px;
   height: 20px;
}
.div-deletar button{
   border-radius: 10px;
}
.div-deletar button:hover{
   background-color: aqua;
   cursor: pointer;
}
.div-developer{
   margin: 50px 610px;
   width: 100px;
   height: 10px;
}
.developer{
   margin: 1px 1px;
   color:white;
   font-size: 9px;
}