body{
 background-color: black;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(5, 1fr);
 grid-template-areas: "header header header header"
                      "aside aside aside aside"
                      "section section section section"
                      "footer footer footer footer";
 column-gap: 1px;
 row-gap: 1px;
}
main{
  width: 1320px;
}
header{
   grid-area: header;
   margin: -5px 2px;
   width: 1345px;
   height: 100px;
   position: fixed;
   background-color: #151515;
   border: 1px solid white;
   border-radius: 10px;
}
.cadastro-aluno{
   margin: 3px 400px;
   text-align: center;
   color: #00FFFF;
}
aside{
   grid-area: aside;
   margin: 105px 2px;
   text-align: center;
   width: 130px;
   height: 355px;
   position: fixed;
   background-color: #0B0B3B;
   border: 1px solid white;
   border-radius: 10px;
}
.div-button{
  margin: 30px 5px;
  padding-top: 10px;
}
.div-button button{
  border-radius: 10px;
}
.div-button button:hover{
  background-color: #00FFFF;
  cursor: pointer;
}
section{
   grid-area: section;
   position: fixed;
   margin: 105px 140px;
   width: 1185px;
   height: 335px;
   background-color: #240B3B;
   border: 1px solid white;
   border-radius: 10px;
   color: white;
   padding: 10px;
}
.footer{
   grid-area: footer;
   position: fixed;
   margin: 470px 1px;
   width: 1345px;
   height: 55px;
   background-color: #151515;
   border: 1px solid white;
   border-radius: 10px;
}
.alert{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 60px;
  background-color: #151515;
  color: #00FFFF;
  border: 2px solid white;
  border-radius: 10px;
  text-align:center;
}
.button{
  width: 10px;
  height: 10px;
  border: 2px solid white;
  }
.div-formulario{
 margin: 10px 35px;
}
.nome{
  margin: 0px -30px;
  .inputnome{
  width: 355px;
  border-radius: 10px;
  }
}
.telefone{
 margin: -40px 340px;
 .inputtelefone{
 width: 115px;
 border-radius: 10px;
 }
}
.email{
 margin: -40px 470px;
 .inputemail{
 width: 350px;
 border-radius: 10px;
 }
}
.cpf{
 margin: -40px 840px;
 .inputcpf{
 border-radius: 10px;
 }
}
.rg{
 margin: 60px -30px;
 .inputrg{
 border-radius: 10px;
 }
}
.nascimento{
 margin: -100px 150px;
 .inputnascimento{
 border-radius: 10px;
 }
}
.cep{
 margin: 60px 330px;
 .inputcep{
 border-radius: 10px;
 }
}
.endereco{
 margin: -100px 510px;
 .inputendereco{
 width: 300px;
 border-radius: 10px;
 }
}
.numero{
 margin: 60px 840px;
 .inputnumero{
 border-radius: 10px
 }
}
.bairro{
 margin: -40px -30px;
 .inputbairro{
 width: 200px;
 border-radius: 10px;
 }
}
.cidade{
 margin: -40px 200px;
 .inputcidade{
 width: 250px;
 border-radius: 10px;
 }
}
.estado{
 margin: -40px 480px;
 .inputestado{
 width: 250px;
 border-radius: 10px;
 }
}
.buttonsalvar{
 margin: 80px -30px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
.buttonlimpar{
 margin: -98px 105px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
.buttonvoltar{
 margin: 81px 270px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
@media(min-width:412px) and (max-width:915px){
  body{
  background-color: black;
  width: 745px;
  height: 1679px;
  display: grid;
  grid-template-columns: repeat(5,150px);
  grid-template-rows: repeat(18,92px);
  grid-template-areas: "header header header header"
                       "aside aside aside aside"
                        "section section section section"
                       "footer footer footer footer";
  column-gap: 1px;
  row-gap: 1px;
  }
  main{
  width: 745px;
  height: 1679px;
  }
  header{
  grid-area: header;
  position: relative;
  margin: 5px;
  width: 735px;
  height: 100px;
  }
  .cadastro-aluno{
  margin: -3px 130px;
  padding-top: 1px;
  width: 500px;
  height: 95px;
  h2{
  font-size: 35px;
  margin: 10px;
  }
  }
  aside{
  grid-area: aside;
  position: relative;
  margin: 15px 3px;
  width: 735px;
  height: 70px;
  }
  .div-button{
  .cadastro-responsivo{
  font-size: 20px;
  margin-top: -20px;
  margin-left: -550px;
  }
  .consultar-responsivo{
  margin-top: -47px;
  margin-left: -150px;
  font-size: 20px;
  }
  .atualizar-responsivo{
  margin-top: -65px;
  margin-left: 215px;
  font-size:20px;
  }
  .deletar-responsivo{
  margin-top: -83px;
  margin-left: 540px;
  font-size: 20px;
  }
  }
  section{
  grid-area: section;
  position: relative;
  margin: 15px 3px;
  width: 715px;
  height: 1300px;
  }
  .nome{
  margin: 20px -5px;
  .label{
  font-size: 30px;
  }
  .inputnome{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .telefone{
  margin: -10px -5px;
  font-size: 30px;
  .inputtelefone{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .email{
  margin: 20px -5px;
  font-size: 30px;
  .inputemail{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .cpf{
  margin: -10px -5px;
  font-size: 30px;
  .inputcpf{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .rg{
  margin: 20px -5px;
  font-size: 30px;
  .inputrg{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .nascimento{
  margin: 15px -5px;
  font-size: 30px;
  .inputnascimento{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .cep{
  margin: 15px -5px;
  font-size: 30px;
  .inputcep{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .endereco{
  margin: 15px -5px;
  font-size: 30px;
  .inputendereco{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .numero{
  margin: 15px -5px;
  font-size: 30px;
  .inputnumero{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .bairro{
  margin: 10px -5px;
  font-size: 30px;
  .inputbairro{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .cidade{
  margin: 10px -5px;
  font-size: 30px;
  .inputcidade{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .estado{
  margin: 10px -5px;
  font-size: 30px;
  .inputestado{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .buttonsalvar{
   margin: 65px 1px;
   .cadastrar-responsivo{
   font-size: 20px;
   }
  }
  .buttonlimpar{
  margin: -90px 230px;
  width: 300px;
  .limpar-responsivo{
  font-size: 20px;
  }
  }
  .buttonvoltar{
  margin: 65px 480px;
  width: 300px;
  .voltar-responsivo{
  font-size: 20px;
  }
  }
  .footer{
  position: relative;
  margin: 5px 3px;
  width: 735px;
  height: 130px;
  }
}
@media(max-width:915px) and (max-height: 412px){
  body{
  background-color: black;
  width: 850px;
  height: 1680px;
  display: grid;
  grid-template-columns: repeat(6,141px);
  grid-template-rows: repeat(17,98px);
  grid-template-areas: "header header header header header"
                       "aside aside aside aside"
                        "section section section section"
                       "footer footer footer footer";
  column-gap: 1px;
  row-gap: 1px;
  }
  header{
  grid-area: header;
  position: relative;
  margin: 5px;
  width: 845px;
  height: 100px;
  }
  .cadastro-aluno{
  margin: -3px 200px;
  padding-top: 1px;
  width: 500px;
  height: 95px;
  h2{
  font-size: 35px;
  margin: 10px;
  }
  }
  aside{
  grid-area: aside;
  position: relative;
  margin: 15px 3px;
  width: 846px;
  height: 70px;
  }
  .div-button{
  position: relative;
  .cadastro-responsivo{
  font-size: 20px;
  margin-top: -20px;
  margin-left: -550px;
  }
  .consultar-responsivo{
  margin-top: -47px;
  margin-left: -150px;
  font-size: 20px;
  }
  .atualizar-responsivo{
  margin-top: -65px;
  margin-left: 215px;
  font-size:20px;
  }
  .deletar-responsivo{
  margin-top: -83px;
  margin-left: 540px;
  font-size: 20px;
  }
  }
  section{
  grid-area: section;
  position: relative;
  margin: 10px 3px;
  width: 826px;
  height: 1300px;
  }
  .nome{
  margin: 20px 50px;
  font-size: 30px;
  .inputnome{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .telefone{
  margin: -10px 50px;
  font-size: 30px;
  .inputtelefone{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .email{
  margin: 20px 50px;
  font-size: 30px;
  .inputemail{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .cpf{
  margin: -10px 50px;
  font-size: 30px;
  .inputcpf{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .rg{
  margin: 20px 50px;
  font-size: 30px;
  .inputrg{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .nascimento{
  margin: 15px 50px;
  font-size: 30px;
  .inputnascimento{
  width: 660px;
  height: 50px;
  font-size: 25px;
  }
  }
  .cep{
  margin: 15px 50px;
  font-size: 30px;
  .inputcep{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .endereco{
  margin: 15px 50px;
  font-size: 30px;
  .inputendereco{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .numero{
  margin: 15px 50px;
  font-size: 30px;
  .inputnumero{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .bairro{
  margin: 10px 50px;
  font-size: 30px;
  .inputbairro{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .cidade{
  margin: 10px 50px;
  font-size: 30px;
  .inputcidade{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .estado{
  margin: 10px 50px;
  font-size: 30px;
  .inputestado{
  width: 660px;
  height: 50px;
  font-size: 25px;
   }
  }
  .buttonsalvar{
     margin: 65px 50px;
     width: 156px;
     .cadastrar-responsivo{
     font-size: 20px;
     }
    }
    .buttonlimpar{
    margin: -90px 280px;
    width: 154px;
    .limpar-responsivo{
    font-size: 20px;
    }
    }
    .buttonvoltar{
    margin: 65px 540px;
    width: 205px;
    .voltar-responsivo{
    font-size: 20px;
    }
    }
  .footer{
  position: relative;
  margin: 5px 3px;
  width: 846px;
  height: 130px;
  }
}