body{
 background-color: black;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(5, 1fr);
 grid-template-areas: "header header header header"
                      "aside aside aside aside"
                      "section section section section"
                      "footer footer footer footer";
 column-gap: 1px;
 row-gap: 1px;
} 
header{
   grid-area: header;
   margin: -5px 2px;
   width: 1345px;
   height: 100px;
   position: fixed;
   background-color: #151515;
   border: 1px solid white;
   border-radius: 10px;
}
.cadastro-aluno{
   margin: 3px 400px;
   text-align: center;
   color: #00FFFF;
}
aside{
   grid-area: aside;
   margin: 105px 2px;
   text-align: center;
   width: 130px;
   height: 355px;
   position: fixed;
   background-color: #0B0B3B;
   border: 1px solid white;
   border-radius: 10px;
}
.div-button{
  margin: 30px 5px;
  padding-top: 10px;
}
.div-button button{
  border-radius: 10px;
}
.div-button button:hover{
  background-color: #00FFFF;
  cursor: pointer;
}
section{
   grid-area: section;
   position: fixed;
   margin: 105px 140px;
   width: 1185px;
   height: 335px;
   background-color: #240B3B;
   border: 1px solid white;
   border-radius: 10px;
   color: white;
   padding: 10px;
}
.alert{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 600px;
  height: 60px;
  background-color: #151515;
  color: #00FFFF;
  border: 2px solid white;
  border-radius: 10px;
  text-align:center;
}
.button{
  width: 10px;
  height: 10px;
  border: 2px solid white;
  }
.div-formulario{
 margin: 10px 35px;
}
.nome{
  margin: 0px -30px;
  .inputnome{
  width: 355px;
  border-radius: 10px;
  }
}
.telefone{
 margin: -40px 340px;
 .inputtelefone{
 width: 115px;
 border-radius: 10px;
 }
}
.email{
 margin: -40px 470px;
 .inputemail{
 width: 350px;
 border-radius: 10px;
 }
}
.cpf{
 margin: -40px 840px;
 .inputcpf{
 border-radius: 10px;
 }
}
.rg{
 margin: 60px -30px;
 .inputrg{
 border-radius: 10px;
 }
}
.nascimento{
 margin: -100px 150px;
 .inputnascimento{
 border-radius: 10px;
 }
}
.cep{
 margin: 60px 330px;
 .inputcep{
 border-radius: 10px;
 }
}
.endereco{
 margin: -100px 510px;
 .inputendereco{
 width: 300px;
 border-radius: 10px;
 }
}
.numero{
 margin: 60px 840px;
 .inputnumero{
 border-radius: 10px
 }
}
.bairro{
 margin: -40px -30px;
 .inputbairro{
 width: 200px;
 border-radius: 10px;
 }
}
.cidade{
 margin: -40px 200px;
 .inputcidade{
 width: 250px;
 border-radius: 10px;
 }
}
.estado{
 margin: -40px 480px;
 .inputestado{
 width: 250px;
 border-radius: 10px;
 }
}
.buttonsalvar{
 margin: 80px -30px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
.buttonlimpar{
 margin: -98px 120px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
.buttonvoltar{
 margin: 81px 270px;
 button{
 border-radius: 10px;
 border: none;
 }
 button:hover{
 background-color: aqua;
 cursor: pointer;
 }
}
footer{
  grid-area: footer;
  position: fixed;
  margin: 470px 1px;
  width: 1345px;
  height: 90px;
  background-color: #151515;
  border: 1px solid white;
  border-radius: 10px;
}
.div-cadastrar{
  margin: 35px 300px;
  width: 75px;
  height: 20px;
}
.footer-cadastrar{
  margin: 1px 1px;
  border-radius: 10px;
  border:none;
}
.footer-cadastrar:hover{
  background-color:aqua;
  cursor: pointer;
}
.div-consultar{
  margin: -54px 500px;
  width: 74px;
  height: 20px;
}
.footer-consultar{
  margin: -1px 1px;
  border-radius: 10px;
}
.footer-consultar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-atualizar{
  margin: 35px 750px;
  width: 70px;
  height: 20px;
  }
.footer-atualizar{
  margin: -1px 1px;
  border-radius: 10px;
}
.footer-atualizar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-deletar{
  margin: -56px 950px;
  width: 70px;
  height: 20px;
  }
.footer-deletar{
  margin: 1px 5px;
  border-radius: 10px;
}
.footer-deletar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-developer{
  margin: 70px 610px;
  width: 100px;
  height: 10px;
} 
.developer{
  margin: 1px 1px;
  width: 180px;
  color: white;
  font-size: 9px;
}
@media(min-width:360px) and (max-width:740px){
  body{
  background-color: black;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(4,85px);
  grid-template-rows: repeat(11,95px);
  grid-template-areas: "header header header header"
                       "aside aside aside aside"
                       "section section section section"
                       "footer footer footer footer";
  column-gap: 1px;
  row-gap: 1px;
  }

  header{
  grid-area: header;
  position: relative;
  margin: 1px 3px;
  width: 340px;
  height: 45px;
  }
  .cadastro-aluno{
  margin: -3px -10px;
  padding-top: 1px;
  h2{
  font-size: 15px;
  margin: -20px;
  }
  }
  aside{
  grid-area: aside;
  position: relative;
  margin: 10px 3px;
  width: 340px;
  height: 40px;
  }
  .div-button{
    margin: 1px;
    height: 25px;
  .cadastro-responsivo{
  font-size: 11px;
  margin-top: 1px; 
  margin-left: -270px;
  }
  .consultar-responsivo{
  font-size: 11px;
  margin-top: -38px;
  margin-left: -70px;
  }
  .atualizar-responsivo{
  font-size: 11px;
  margin-top: -58px;
  margin-left: 110px;
  }
  .deletar-responsivo{
  font-size: 11px;
  margin-top: -77px;
  margin-left: 270px;
  }
  }
  section{
  grid-area: section;
  position: relative;
  margin: 10px 3px;
  width: 319px;
  height: 800px;
  }
  .nome{
  margin: 10px -40px;
  .inputnome{  
  width: 330px;
  height: 30px; 
   }
  }
  .telefone{
  margin: 10px -40px;
  .inputtelefone{
  width: 330px;
  height: 30px;
  }
  }
  .email{
  margin: 10px -40px;
  .inputemail{
  width: 330px;
  height: 30px;
  }
  }
  .cpf{
  margin: 10px -40px;
  .inputcpf{
  width: 330px;
  height: 30px;
   }
  }
  .rg{
  margin: 10px -40px;
  .inputrg{
  width: 330px;
  height: 30px;
   }
  }
  .nascimento{
  margin: 10px -40px;
  .inputnascimento{
  width: 330px;
  height: 30px;
  }
  }
  .cep{
  margin: 10px -40px;
  .inputcep{
  width: 330px;
  height: 30px;
   }
  }
  .endereco{
  margin: 10px -40px;
  .inputendereco{
  width: 330px;
  height: 30px;
   }
  }
  .numero{
  margin: 10px -40px;
  .inputnumero{
  width: 330px;
  height: 30px;
   }
  }
  .bairro{
  margin: 10px -40px;
  .inputbairro{
  width: 330px;
  height: 30px;
   }
  }
  .cidade{
  margin: 10px -40px;
  .inputcidade{
  width: 330px;
  height: 30px;
   }
  }
  .estado{  
  margin: 10px -40px;
  .inputestado{
  width: 330px;
  height: 30px;
   }
  }
  .alert{
    position: absolute;
    margin: 250px 5px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 325px;
    height: 95px;
    background-color: #151515;
    color: #00FFFF;
    border: 2px solid white;
    border-radius: 10px;
    text-align:center;
  }
  .buttonsalvar{
   margin: 40px -35px;
   .cadastrar-responsivo{
   font-size: 11px;
   }
  }
  .buttonlimpar{
  margin: -55px 85px;
  width: 300px;
  .limpar-responsivo{
  font-size: 11px;
  }
  }
  .buttonvoltar{
  margin: 40px 200px;
  }
  .voltar-responsivo{
  font-size: 11px;
  width: 80px;
  } 
  footer{
  position: relative;
  margin: 5px 3px;
  width: 340px;
  height: 95px;
}
.div-cadastrar{
  margin: 35px 5px;
  width: 75px;
  height: 20px;
}
.footer-cadastrar{
  margin: 2px 1px;
  border-radius: 10px;
  border:none;
}  
.footer-cadastrar:hover{
  background-color:aqua;
  cursor: pointer;
}
.div-consultar{
  margin: -54px 95px;
  width: 74px;
  height: 20px;
}
.footer-consultar{
  margin: -1px 1px;
  border-radius: 10px;
}
.footer-consultar:hover{
  background-color: aqua;
  cursor: pointer;
  }
.div-atualizar{
  margin: 35px 185px;
  width: 70px;
  height: 20px;
  }  
.footer-atualizar{
  margin: -2px 1px;
  border-radius: 10px;
  }
.footer-atualizar:hover{
  background-color: aqua;
  cursor: pointer;
  }
.div-deletar{
  margin: -56px 260px;
  width: 70px;
  height: 20px;
  }  
.footer-deletar{
  margin: -1px 13px;
  border-radius: 10px;
  }
.footer-deletar:hover{
  background-color: aqua;
  cursor: pointer;
  }
.div-developer{
  margin: 75px 130px;
  width: 90px;
}  
.developer{
  margin: 5px 1px;
  width: 180px;
  height: 5px;
  color: white;
  font-size: 7px;
}
}
@media(min-width:720px) and (max-width:768px){
  body{
  background-color: black; 
  display: grid;
  grid-template-columns: repeat(4,120px);
  grid-template-rows: repeat(15,70px);
  grid-template-areas: "header header header header"
                       "aside aside aside aside"
                        "section section section section"
                       "footer footer footer footer";
  column-gap: 1px;
  row-gap: 1px;
  }
  header{
  grid-area: header;
  position: relative;
  margin: 5px 1px;
  width: 570px;
  height: 70px;
  }
  .cadastro-aluno{
  margin: -15px 50px;
  padding-top: 2px;
  width: 500px;
  height: 95px;
  h2{
  font-size: 20px;
  margin: 10px;
  }
  }
  aside{
  grid-area: aside;
  position: relative;
  margin: 15px 1px;
  width: 570px;
  height: 70px;
  }
  .div-button{
  position: relative;
  .cadastro-responsivo{
  font-size: 15px;
  margin-top: 10px;
  margin-left: -350px;
  }
  .consultar-responsivo{
  font-size: 15px;
  margin-top: -44px;
  margin-left: -100px;
  }
  .atualizar-responsivo{
  font-size: 15px;
  margin-top: -63px;
  margin-left: 150px;
  }
  .deletar-responsivo{
  font-size: 15px;
  margin-top: -83px;
  margin-left: 370px;
  }
  }
  section{
  grid-area: section;
  position: relative;
  margin: 10px 1px;
  width: 550px;
  height: 750px;
  }
  .nome{
  margin: 15px 20px;
  font-size: 15px;
  .inputnome{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .telefone{
  margin: -10px 20px;
  font-size: 15px;
  .inputtelefone{
  width: 450px;
  height: 25px;
  font-size: 15px;
  }
  }
  .email{
  margin: 20px 20px;
  font-size: 15px;
  .inputemail{
  width: 450px;
  height: 25px;
  font-size: 15px;
  }
  }
  .cpf{
  margin: -10px 20px;
  font-size: 15px;
  .inputcpf{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .rg{
  margin: 20px 20px;
  font-size: 15px;
  .inputrg{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .nascimento{
  margin: 15px 20px;
  font-size: 15px;
  .inputnascimento{
  width: 450px;
  height: 25px;
  font-size: 15px;
  }
  }
  .cep{
  margin: 15px 20px;
  font-size: 15px;
  .inputcep{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .endereco{
  margin: 15px 20px;
  font-size: 15px;
  .inputendereco{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .numero{
  margin: 15px 20px;
  font-size: 15px;
  .inputnumero{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .bairro{
  margin: 10px 20px;
  font-size: 15px;
  .inputbairro{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .cidade{
  margin: 10px 20px;
  font-size: 15px;
  .inputcidade{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .estado{
  margin: 10px 20px;
  font-size: 15px;
  .inputestado{
  width: 450px;
  height: 25px;
  font-size: 15px;
   }
  }
  .alert{
    position: absolute;
    margin: 200px 65px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 450px;
    height: 95px;
    background-color: #151515;
    color: #00FFFF;
    border: 2px solid white;
    border-radius: 10px;
    text-align:center;
  }
  .buttonsalvar{
     margin: 35px 20px;
     width: 156px;   
     .cadastrar-responsivo{
     font-size: 15px;
     }
  }
  .buttonlimpar{
    margin: -55px 170px;
    width: 154px;
    .limpar-responsivo{
    font-size: 15px;
    }
  }
  .buttonvoltar{
    margin: 35px 320px;
    .voltar-responsivo{
    font-size: 15px;
    width: 150px;
    }
  }
footer{
  position: relative;
  margin: 5px 1px;
  width: 570px;
  height: 100px;  
}
.div-cadastrar{
  margin: 40px 65px;
  width: 75px;
  height: 20px;
}
.footer-cadastrar{
  margin: 2px 1px;
  border-radius: 10px;
  border:none;
}  
.footer-cadastrar:hover{
  background-color:aqua;
  cursor: pointer;
}
.div-consultar{
  margin: -60px 195px;
  width: 74px;
  height: 20px;
}
.footer-consultar{
  margin: -1px 1px;
  border-radius: 10px;
}
.footer-consultar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-atualizar{
  margin: 38px 330px;
  width: 70px;
  height: 20px;
  }
.footer-atualizar{
  margin: -1px 1px;
  border-radius: 10px;
}
.footer-atualizar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-deletar{
  margin: -60px 450px;
  width: 70px;
  height: 20px;
  }  
.footer-deletar{
  margin: -1px 10px;
  border-radius: 10px;
}
.footer-deletar:hover{
  background-color: aqua;
  cursor: pointer;
}
.div-developer{
  margin: 85px 250px;
  width: 90px;
}  
.developer{
  margin: 1px 1px;
  width: 180px;
  color: white;
  font-size: 7px;
}
}