<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Administração Escolar</title>
    <link th:href="@{css/atualizar-aluno.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div>
        <br><p><h2 class="consultarAluno">Atualizar Aluno</h2></p>
    </div>
</header>
<main>
    <aside>
        <div class="div-button">
            <a th:href="@{cadastro-aluno}"><button type="submit" title="Cadastrar Aluno">Cadastrar</button></a><br><br>
            <a th:href="@{consultar-aluno}"><button type="submit" title="Consultar Aluno">Consultar</button></a><br><br>
            <a th:href="@{atualizar-aluno}"><button type="submit" title="Atualizar Aluno">Atualizar</button></a><br><br>
            <a th:href="@{deletar-aluno}"><button type="submit" title="Deletar Aluno">Deletar</button></a><br><br>
        </div>
        </aside>
        <section>
            <div class="divtabela">
                <div class="tabela">
                    <table>
                        <thead class="cabecalhotabela">
                        <tr>
                            <th>Id do Estudante</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th>E-mail</th>
                            <th>CPF</th>
                            <th>RG</th>
                            <th>Data de Nascimento</th>
                            <th>CEP</th>
                            <th>Endereço</th>
                            <th>Numero</th>
                            <th>Bairro</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                            <th>Atualizar Aluno</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = " alunos : ${listaAlunos}">
                            <td><span th:text="${alunos.IdAluno}"></span></td>
                            <td><span th:text="${alunos.nome}"></span></td>
                            <td><span th:text="${alunos.telefone}"></span></td>
                            <td><span th:text="${alunos.email}"></span></td>
                            <td><span th:text="${alunos.cpf}"></span></td>
                            <td><span th:text="${alunos.rg}"></span></td>
                            <td><span th:text="${alunos.dataNascimento}"></span></td>
                            <td><span th:text="${alunos.cep}"></span></td>
                            <td><span th:text="${alunos.endereco}"></span></td>
                            <td><span th:text="${alunos.numero}"></span></td>
                            <td><span th:text="${alunos.bairro}"></span></td>
                            <td><span th:text="${alunos.cidade}"></span></td>
                            <td><span th:text="${alunos.estado}"></span></td>
                            <td><a th:href="@{/consultar-aluno/{id}(id=${alunos.IdAluno})}"><button type="submit" title="Atualizar Aluno">Atualizar</button></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
</main>
<footer>
    <div class="div-cadastrar">
    <a th:href="@{cadastro-aluno}"><button type="submit" title="Cadastrar Aluno">Cadastrar</button></a>
    </div>
    <div class="div-consultar">
    <a th:href="@{consultar-aluno}"><button type="submit" title="Consultar Aluno">Consultar</button></a>    
    </div>
    <div class="div-atualizar">
    <a th:href="@{atualizar-aluno}"><button type="submit" title="Atualizar Aluno">Atualizar</button></a>
    </div>
    <div class="div-deletar">
    <a th:href="@{deletar-aluno}"><button type="submit" title="Deletar Aluno">Deletar</button></a>
    </div>
    <div class="div-developer">
    <p class="developer"><strong>Developer André Melo &reg</strong></p> 
    </div>
</footer>
</body>
</html>