<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Sistema de Administração Escolar</title>
    <link th:href="@{/css/cadastro-aluno.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <main>
        <header>
            <div class="cadastro-aluno">
                <br><p><h2>Cadastro Aluno</h2></p>
            </div>
        </header>
        <aside>
            <div class="div-button">
            <a th:href="@{cadastro-aluno}"><button type="submit" class="cadastro-responsivo" title="Cadastrar Aluno">Cadastrar</button></a></a><br><br>
            <a th:href="@{consultar-aluno}"><button type="submit" class="consultar-responsivo" title="Consultar Aluno">Consultar</button></a><br><br>
            <a th:href="@{atualizar-aluno}"><button type="submit" class="atualizar-responsivo" title="Atualizar Aluno">Atualizar</button></a><br><br>
            <a th:href="@{deletar-aluno}"><button type="submit" class="deletar-responsivo" title="Deletar Aluno">Deletar</button></a><br><br>
            </div>
        </aside>
        <section>
            <div>
                <a th:href="@{cadastro-aluno}">
                    <span th:if="${mensagem}" class="alert" th:text="${mensagem}"></span>
                </a>
            </div>
            <div class="div-formulario">
                <form th:object="${novoAluno}" th:action="@{/novoaluno}" method="post">
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                        </a>
                    </div>
                    <div class="nome">
                        <label>Nome:</label><br>
                        <input type="text" class="inputnome" placeholder="Nome do Aluno" name="nome" field="*{nome}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></span>
                        </a>
                    </div>
                    <div class="telefone">
                        <label class="labeltelefone">Telefone:</label><br>
                        <input type="text" class="inputtelefone" placeholder="Telefone" name="telefone" field="*{telefone}"/><br>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </a>
                    </div>
                    <div class="email">
                        <label>E-mail:</label><br>
                        <input type="email" class="inputemail" placeholder="E-mail" name="email" field="*{email}"/><br>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
                        </a>
                    </div>
                    <div class="cpf">
                        <label>CPF:</label><br>
                        <input type="text" class="inputcpf" placeholder="CPF" name="cpf" field="*{cpf}"/><br>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}"></span>
                        </a>
                    </div>
                    <div class="rg">
                        <label>RG:</label><br>
                        <input type="text" class="inputrg" placeholder="RG" name="rg" field="*{rg}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
                        </a>
                    </div>
                    <div class="nascimento">
                        <label>Data de Nascimento:</label><br>
                        <input type="text" class="inputnascimento" placeholder="Dade de Nascimento" name="dataNascimento" field="*{dataNascimento}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}"></span>
                        </a>
                    </div>
                    <div class="cep">
                        <label>Cep:</label><br>
                        <input type="text" class="inputcep" placeholder="Cep" name="cep" field="*{cep}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('endereco')}" th:errors="*{endereco}"></span>
                        </a>
                    </div>
                    <div class="endereco">
                        <label>Endereço:</label><br>
                        <input type="text" class="inputendereco" placeholder="Endereço" name="endereco" field="*{endereco}"/><br>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}"></span>
                        </a>
                    </div>
                    <div class="numero">
                        <label>Numero:</label><br>
                        <input type="text" class="inputnumero" placeholder="Numero" name="numero" field="*{numero}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}"></span>
                        </a>
                    </div>
                    <div class="bairro">
                        <label>Bairro:</label><br>
                        <input type="text" class="inputbairro" placeholder="Bairro" name="bairro" field="*{bairro}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
                        </a>
                    </div>
                    <div class="cidade">
                        <label>Cidade:</label><br>
                        <input type="text" class="inputcidade" placeholder="Cidade" name="cidade" field="*{cidade}"/>
                    </div>
                    <div>
                        <a th:href="@{cadastro-aluno}">
                            <span class="alert" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}"></span>
                        </a>
                    </div>
                    <div class="estado">
                        <label>Estado:</label><br>
                        <input type="text" class="inputestado" placeholder="Estado" name="estado" field="*{estado}"/>
                    </div>
                    <div class="buttonsalvar">
                        <button type="submit" title="Cadastrar Aluno" class="cadastrar-responsivo">Cadastrar Aluno</button>
                    </div>
                    <div class="buttonlimpar">
                        <button type="reset" title="Limpar Campos" class="limpar-responsivo">Limpar Campos</button>
                    </div>
                    <div class="buttonvoltar">
                    <a th:href="@{cadastro-aluno}"><button type="submit" class="voltar-responsivo" title="Voltar a Tela Principal">
                    Tela Principal</button></a>
                    </div>
                </form>
            </div>
        </div>
        </section>
     <footer>
     <div class="div-cadastrar">
     <a th:href="@{cadastro-aluno}"><button type="submit" title="Cadastrar Aluno" class="footer-cadastrar">Cadastrar</button></a>
     </div>
     <div class="div-consultar">
     <a th:href="@{consultar-aluno}"><button type="submit" title="Consultar Aluno" class="footer-consultar">Consultar</button></a>
     </div>
     <div class="div-atualizar">
     <a th:href="@{atualizar-aluno}"><button type="submit" title="Atualizar Aluno" class="footer-atualizar">Atualizar</button></a> 
     </div>
     <div class="div-deletar">
     <a th:href="@{deletar-aluno}"><button type="submit" title="Deletar Aluno" class="footer-deletar">Deletar</button></a>   
     </div>
     <div class="div-developer">
     <p class="developer"><strong>Developer André Melo &reg</strong></p>
     </div>
     </footer>
    </main>
</body>
</html>