<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Sistema de Administração Escolar</title>
</head>
<body>
<header>
    <h2>Sistema de Administração Escolar</h2>
    <hr>
    <br>
</header>
<a th:href="@{cadastro-pessoas}"><button type="submit" title="Cadastro de Pessoas">Cadastrar Pessoas</button></a><br><br>
<button type="submit" title="Consultar Pessoas">Consultar Cadastro</button><br><br>
<button type="submit" title="Atualizar Pessoas">Atualizar Cadastro</button><br><br>
<button type="submit" title="Deletar Pessoas">Deletar Cadastro</button><br><br>
</body>
</html>