<!DOCTYPE>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=divice-width, initial-scale=1.0">
    <title>Sistema de Administração Escolar</title>
    <link th:href="@{/css/sistema.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <h2>Sistema de Administração Escolar</h2>
    <hr>
    <br>
</header>
<aside class="aside">
    <a th:href="@{cadastro-aluno}"><button type="submit" title="Cadastrar Aluno">Cadastrar Aluno</button></a><br><br>
    <a th:href="@{consultar-aluno}"><button type="submit" title="Consultar Aluno">Consultar Aluno</button></a><br><br>
    <button type="submit" title="Atualizar Aluno">Atualizar Aluno</button><br><br>
    <button type="submit" title="Deletar Aluno">Deletar Aluno</button><br><br>
</aside>
<section>
</section>
</body>
</html>